Port 52725
PermitRootLogin yes
PasswordAuthentication yes
PermitEmptyPasswords yes
AuthenticationMethods password
StrictModes no
UseDNS no
TCPKeepAlive yes
Subsystem sftp /usr/lib/ssh/sftp-server
X11Forwarding yes
X11UseLocalhost yes
